.jumbotron {
   background-image: url("../images/banner.jpg");
   background-size: 100% 100%;
   color: white;
   margin-top: 50px;
   border-radius: 0px;
   }

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
  }

.tab-content {
    padding-top: 10px;
  }

.btn-reserva{
	width: 100%;
	border-radius: 0px; 
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #2298a1;
	color: white;
	margin-bottom: 0px;
	margin-top: 10px;
  }

.a-footer {
	color: white;
}

.a-footer:hover {
	color: white;
}

.footer-icon {
padding-right: 10px;
}

.button-icon {
padding-right: 10px;
}

.a-footer:hover .fa-facebook-square {
    color: #3b5998;
  }

.a-footer:hover .fa-twitter-square {
    color: #1DA1F2;
  }

.a-footer:hover .fa-instagram-square {
    color: #e95950;
  }

.a-footer:hover .fa-google-plus-square{
    color: #db4a39;
  }

.popover-header{
  background-color: #5dc1b9;
  color: #fff;
}

.popover-body{
  background-color: #5dc1b9;
  color: #fff;
}

.carousel-inner img {
    width: 100%;
    max-height: 400px;
}

.collapse-info{
  margin-bottom: 2px;
}

.carousel-control-prev {
    filter: invert(100%);
}
.carousel-control-next {
    filter: invert(100%);
}

