@skyblue: #2298a1;
@yellow: #fffa19;
@red: #ff0808;
@green: #00e804;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.relleno(@top: 0px, @right: 0px, @bottom: 0px, @left:0px){
  padding-top: @top;
  padding-right: @right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.jumbotron {
  background-image: url("../images/banner.jpg");
  background-size: 100% 100%;
  border-radius: 0px;
  .margenes(50px, 15px);
  color: #fff; }

.card-hotel {
  flex: 1 200px;
  .margenes(10px); }

.tab-content {
  .relleno(10px); }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

footer {
  background-color: @skyblue;
  color: #fff;
  .margenes(10px); 
  .relleno(10px, 10px, 0px, 10px); }

.a-footer {
  color: #fff; }

.a-footer:hover {
  color: #fff; }

.footer-icon {
  .relleno(0px, 10px); }

.button-icon {
   .relleno(0px, 10px); }

.a-footer:hover .fa-facebook-square {
  color: #3b5998; }

.a-footer:hover .fa-twitter-square {
  color: #1DA1F2; }

.a-footer:hover .fa-instagram-square {
  color: #e95950; }

.a-footer:hover .fa-google-plus-square {
  color: #db4a39; }

.popover-header {
  background-color: #5dc1b9;
  color: #fff; }

.popover-body {
  background-color: #5dc1b9;
  color: #fff; }

.carousel-inner img {
  width: 100%;
  max-height: 400px; }

.collapse-info {
.margenes(0px, 2px); }

.carousel-control-prev {
  filter: invert(100%); }

.carousel-control-next {
  filter: invert(100%); }
