.jumbotron {
  background-image: url("../images/banner.jpg");
  background-size: 100% 100%;
  border-radius: 0px;
  margin-top: 50px;
  margin-bottom: 15px;
  color: #fff;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
footer {
  background-color: #2298a1;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}
.a-footer {
  color: #fff;
}
.a-footer:hover {
  color: #fff;
}
.footer-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.button-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.a-footer:hover .fa-facebook-square {
  color: #3b5998;
}
.a-footer:hover .fa-twitter-square {
  color: #1DA1F2;
}
.a-footer:hover .fa-instagram-square {
  color: #e95950;
}
.a-footer:hover .fa-google-plus-square {
  color: #db4a39;
}
.popover-header {
  background-color: #5dc1b9;
  color: #fff;
}
.popover-body {
  background-color: #5dc1b9;
  color: #fff;
}
.carousel-inner img {
  width: 100%;
  max-height: 400px;
}
.collapse-info {
  margin-top: 0px;
  margin-bottom: 2px;
}
.carousel-control-prev {
  filter: invert(100%);
}
.carousel-control-next {
  filter: invert(100%);
}
