$yellow: #fffa19;
$red: #ff0808;
$green: #00e804;
$skyblue: #2298a1;
$white: #fff;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin relleno($top, $rigth, $bottom, $left){
	padding-top: $top;
  padding-right: $rigth;
	padding-bottom: $bottom;
  padding-left: $left;
}

.jumbotron {
   background-image: url("../images/banner1.jpg");
   background-size: 100% 100%;
   border-radius: 0px;
   @include margenes(50px, 15px);
   color: $white;
   }

.card-hotel {
	flex: 1 200px;
	 @include margenes(10px, 0px);
  }

.tab-content {
    @include relleno(10px, 0px, 0px, 0px);
  }

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

footer {
	background-color: $skyblue;
	color: $white;
  @include relleno(10px, 10px, 0px, 10px);
	@include margenes(20px, 0px);
  }

.a-footer {
	color: $white;
}

.a-footer:hover {
	color: $white;
}

.footer-icon {
   @include relleno(0px, 10px, 0px, 0px);
}

.button-icon {
   @include relleno(0px, 10px, 0px, 0px);
}

.a-footer:hover .fa-facebook-square {
    color: #3b5998;
  }

.a-footer:hover .fa-twitter-square {
    color: #1DA1F2;
  }

.a-footer:hover .fa-instagram-square {
    color: #e95950;
  }

.a-footer:hover .fa-google-plus-square{
    color: #db4a39;
  }

.popover-header{
  background-color: #5dc1b9;
  color: #fff;
}

.popover-body{
  background-color: #5dc1b9;
  color: #fff;
}

.carousel-inner img {
    width: 100%;
    max-height: 400px;
}

.collapse-info{
   @include margenes(0px, 2px);
}

.carousel-control-prev {
    filter: invert(100%);
}
.carousel-control-next {
    filter: invert(100%);
}

#comentarios{
  height: 131px;
}
